.git

### Build ###
/tmp/
ci-runner-farm.tgz
*.err

### Session Logs ###
docs/sessions

### Linters ###
.megalinter_github_conf
megalinter-reports
mega-linter.log
.php-cs-fixer.cache
.phplint.cache
*-megalinter_file_names_cspell.txt
